.operationalUnitsSwiper :global(.swiper-button-next),
.operationalUnitsSwiper :global(.swiper-button-prev) {
    width: 40px;
    height: 40px;
    background: #fdd307;
    border-radius: 50%;
    color: #00418e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.operationalUnitsSwiper :global(.swiper-button-next) {
    right: 3px !important;
}

.operationalUnitsSwiper :global(.swiper-button-prev) {
    left: 3px !important;
}

.operationalUnitsSwiper :global(.swiper-button-next::after),
.operationalUnitsSwiper :global(.swiper-button-prev::after) {
    font-size: 16px;
    color: #00418e;
}

.operationalUnitsSwiper .swiper-wrapper {
    padding: 0 80px;
}

.officeBox {
    min-height: 328px;
}

.officeBox h4 {
    position: relative;
    padding-bottom: 10px;
}

.officeBox h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 1px;
    background-color: #00418e;
}

.manualCSSBTN {
    font-size: 12px !important;
    padding: unset;
    padding: 13px 8px !important;
    width: clamp(127px, 18vw, 106px) !important;
}

.manualCSSBTN span {
    font-size: 12px !important;
}

.manualReadMore {
    font-size: 12px;
}

@media (max-width: 1520px) {
    .officeBox {
        min-height: 300px;
    }
}

@media (max-width: 1300px) {
    .officeBox {
        min-height: auto;
    }
}

@media (max-width: 430px) {
    .officeBox {
        min-height: 244px;
    }
}