.containerLg {
  width: 86.67vw;
  max-width: 1920px;
  margin: auto auto;
  padding-block: clamp(32px, 5.5vw, 96px);
}

.containerLg > div:nth-child(1) {
  gap: 32px;
}

.sectionContentTitle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: clamp(16px, 2.5vw, 32px);
}
.sectionContentTitle h2 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: clamp(14px, 2.5vw, 20px);
  line-height: 100%;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: #444348;
}
.sectionContentTitle h3 {
  font-family: var(--font-bebas-neue);
  font-weight: 400;
  font-size: clamp(24px, 4.5vw, 57px);
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: start;
  width: 90%;
}
.sectionContentTitle h3 span {
  color: #004aa1;
}

.sectionContent p {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 2.5vw, 22px);
  line-height: 37px;
  letter-spacing: 0%;
  color: #545454;
}
.electroSteelContent {
  /* padding-left: clamp(0px, 4vw, 64px); */
  padding-right: clamp(0px, 4vw, 64px);
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2.5vw, 32px);
  width: 95%;
}

.sectionContent ul {
  list-style: none;
  padding: 16px;
  border: 1px solid #8e8e8e;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2.5vw, 32px);
}
.sectionContent ul li {
   padding-left: 28px;
}
.sectionContent ul li p,
.sectionContent ul li {
  position: relative;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-style: normal;
  font-size: clamp(14px, 2.5vw, 20px);
  line-height: 1.4;
  letter-spacing: 0;
  color: #004aa1;
}

/* Custom tick icon */
.sectionContent ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(18px , 2vw , 25px);
  height: clamp(18px , 2vw , 25px);
  background: url("/images/tickblue.png") no-repeat center center;
  background-size: contain;
}

.electrosteelVideo {
  padding-block: 55.5px;
}



@media (max-width: 1800px) {
  .electroSteelContent {
    padding-left: 0px;
    padding-right: 0px;
  }
  .sectionContentTitle h3 {
    font-size: clamp(24px, 4.5vw, 52px);
  }
  .sectionContent p {
    font-size: clamp(14px, 2.5vw, 22px);
    line-height: 1.4;
  }
  .sectionContent ul {
     gap: clamp(16px, 2.5vw, 22px);
  }
  .sectionContent ul li p , .sectionContent ul li {
    font-size: clamp(14px, 2.4vw, 17px);
  }
  .electroSteelGrid{
    align-items: center;
  }
}
@media (max-width: 1560px) {
  .sectionContentTitle h3 {
    font-size: clamp(24px, 2.8vw, 42px);
  }
  .sectionContent p {
    font-size: clamp(14px, 1.3vw, 18px);
    line-height: 1.4;
  }
  .electroSteelContent {
    padding-left: 0px;
    padding-right: 0px;
  }
  .sectionContent ul {
     gap: clamp(16px, 2.5vw, 22px);
  }
  .sectionContent ul li p , .sectionContent ul li {
    /* font-size: clamp(14px, 2.4vw, 17px); */
     font-size: clamp(14px, 1.2vw, 16px);
  }
  .electroSteelGrid{
    align-items: center;
  }
}
@media (max-width:1279px) {
  .electroSteelContent{
      width: 100%;
  }
  .electrosteelVideo > div > img{
    background-color: red;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .containerLg {
      width: 100%;
    max-width: 100vw;
    padding-left: 32px;
    padding-right: 32px;
  }
  .electroSteelContent {
    padding-left: 0px;
    padding-right: 0px;
  }
  .electrosteelVideo {
    padding-block: 0px;
  }
  .playingButton img{
  width: 110px;
  height: 110px;
}
}
@media (max-width: 576px) {
  .containerLg {
      width: 100%;
    max-width: 100vw;
    padding-left: 16px;
    padding-right: 16px;
  }
}
