.containerLg {
  max-width: 90vw;
  margin: auto auto;
  padding-block: clamp(32px, 5.5vw, 96px);
}

.sectionTopTitleGap {
  padding-bottom: clamp(32px, 5.5vw, 96px);
}
.sectionContentTitle h2 {
  font-family: var(--font-bebas-neue);
  font-weight: 400;
  font-size: clamp(24px, 4.5vw, 57px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: start;
  width: 50%;
  text-transform: uppercase;
  color: #000205;
}
.sectionContentTitle h2 span {
  color: #004aa1;
}
.cardLink {
  padding-block: 14px;
}
.buttonLink {
  justify-self: end;
}

/* ------------------- card -css  ----------------- */

.socialCardWrapper {
  border: 1px solid #dedede;
  padding: 16px;
  padding-bottom: 8px;
  border-radius: 16px;
  max-height: 481px;
  overflow: hidden;
  background-color: #ffffff;
}

.socialCardImage {
  position: relative;
  height: 220px;
  width: 100%;
  border-radius: 32px;
  overflow: hidden;
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.socialCardImage img {
  transition: all 0.5s ease-in-out;
}
.socialCardWrapper:hover .socialCardImage img {
  scale: 1.1;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  padding-bottom: 0px;
  /* padding-bottom: clamp(18.5px, 3.5vw, 52px); */
  padding-top: 24px;
}

.sectionContent > span {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #034ea1;
}
.sectionContent h3 {
  font-family: var(--font-bebas-neue);
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(18px, 1.6vw, 28px);
  line-height: 100%;
  letter-spacing: 0%;
  color: #004aa1;
}
.eventsContainer {
  gap: clamp(24px, 2vw, 48px);
}
.eventDetails {
  row-gap: 8px;
  column-gap: 16px;
}

.eventDetails li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 8px;
}
.eventDetails li span {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #7b7b7b;
}


@media (max-width: 1560px) {
  .sectionContentTitle h2 {
    font-size: clamp(24px, 2.8vw, 42px);
    width: 65%;
  }
  .socialCardImage {
    height: 170px;
  }
  .sectionTopTitleGap {
    padding-bottom: clamp(32px, 4vw, 45px);
  }
  .sectionContent {
    padding: 8px;
    padding-bottom: 0px;
    padding-top: 16px;
  }
  .sectionContent h3 {
    font-size: clamp(14px, 1.5vw, 22px);
    line-height: 1.2;
  }
  .eventDetails li span {
    font-size: 12px;
  }
  .sectionContent > span {
    font-size: 10px;
  }
}

@media (max-width: 1280px) {
  .sectionContent h3 {
    font-size: clamp(14px, 1.8vw, 22px);
    line-height: 1.2;
  }
}

@media (max-width: 960px) {
  .sectionContent > span {
    font-size: 8px;
  }
  .socialCardImage {
    height: clamp(120px, 15vw, 150px);
  }
  .eventDetails li span {
    font-size: 11px;
  }
  .eventsContainer {
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .containerLg {
    max-width: 100vw;
    padding-left: 32px;
    padding-right: 32px;
  }
  .socialCardImage {
    height: 170px;
  }
  .cardLink {
    padding-block: 0px;
    padding-bottom: 12px;
  }
}
@media (max-width: 639px) {
  .eventsContainer {
    padding-inline: clamp(16px, 9vw, 54px);
  }
   .socialCardImage {
    height: clamp(185px, 36vw, 230px);
  }
}
@media (max-width: 576px) {
  .sectionTopTitleGap {
    flex-direction: column;
  }
  .sectionContentTitle h2 {
    width: 90%;
    padding-bottom: 0.4rem;
  }
}
@media (max-width: 460px) {
  .eventsContainer {
    padding-inline: 0px;
  }
}