.sectionSpacing {
  padding-top: clamp(32px, 3vw, 48px);
  padding-bottom: clamp(32px, 3.2vw, 48px);
}

.sectionContentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(8px, 1.5vw, 16px);
}

.sectionContentTitle h2 {
  font-family: var(--font-bebas-neue);
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(18px, 1.6vw, 28px);
  line-height: 100%;
  letter-spacing: 0%;
  color: #545454;
}
.sectionContentTitle p {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: clamp(14px, 1.5vw, 22px);
  line-height: clamp(20px, 2vw, 37px);
  letter-spacing: 0%;
  text-align: center;
  color: #545454;
}
.sectionContent h3 {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(12px, 1.4vw, 16px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #004aa1;
}
.iconContainer {
  position: relative;
  width: clamp(30px, 4vw, 60px);
  height: clamp(30px, 4vw, 60px);
}
.eventsIconsWrapper{
    padding-top: clamp(24px, 2vw, 48px);
}