.directorModelContainer {
  position: fixed;
  top: calc(1024px - 960px);
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 5;
  overflow-y: scroll;
  transition: all ease-in-out 3s !important;
}

.modelOpen {
  right: 0;
}

.modelClose {
  right: -100%;
}

.modelContainer {
  padding-block: clamp(48px, 5vw, 108px);
  padding-inline: clamp(16px, 3vw, 48px);
}

.imageContainer {
  position: relative;
  width: 444px;
  height: 564px;
  border-radius: 32px;
  overflow: hidden;
}

.closeBtnContainer {
  top: clamp(24px, 2.3vw, 48px);
  right: clamp(20px, 2.3vw, 48px);
}
.sectionContent {
  padding-bottom: 32px;
  padding-inline: 48px;
}

.sectionContent h4 {
  font-family: var(--font-bebas-neue), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 44px;
  font-size: clamp(24px, 2.2vw, 44px);
  line-height: 100%;
  letter-spacing: 0%;
  color: #004aa1;
  padding-bottom: clamp(8px, 1vw, 16px);
}
.sectionContent h5 {
  font-family: var(--font-bebas-neue), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffc727;
}
.sectionContent p {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(12px, 1.2vw, 20px);
  line-height: 1.4;
  letter-spacing: 0%;
  color: #545454;
  padding-top: clamp(12px, 1.2vw, 24px);
}

@media (max-width: 1560px) {
  .imageContainer {
    position: relative;
    width: 350px;
    height: 380px;
    border-radius: 32px;
    overflow: hidden;
  }
}
@media (max-width: 1260px) {
  .imageContainer {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 32px;
    overflow: hidden;
  }
}

@media (max-width: 960px) {
  .modelWrapperFlex {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .imageContainer {
    position: relative;
    width: clamp(250px, 22vw, 400px);
    height: clamp(300px, 25vw, 450px);
    border-radius: 32px;
    overflow: hidden;
  }
  .sectionContent h4,
  .sectionContent h5,
  .sectionContent p {
    text-align: center;
  }
  .sectionContent {
    padding-bottom: 32px;
    padding-inline: 0px;
  }
}

@media (max-width: 576px) {
  .closeBtnContainer svg {
    width: 24px;
    height: 24px;
  }
  .imageContainer {
    position: relative;
    width: 225px;
    height: 250px;
    border-radius: 32px;
    overflow: hidden;
  }
}
