.navPAdd{
    padding-top: clamp(20px,3vw,37px);
    padding-bottom: clamp(32px,7vw,87px);
}


.blogWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(16px, 2.6vw, 48px);
  padding: 48px 0;
}


@media (max-width: 1620.98px) {
  .blogWrapper {
    padding: 25px 0 48px 0;
}
}

@media (max-width: 1400px) {

  .blogWrapper {
    gap: clamp(16px, 1.5vw, 28px);
  }
}

@media (max-width: 1280px) {
  .blogWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991.98px) {
  .blogWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogWrapper {
    gap: clamp(20px, 4vw, 48px);
  }

  .blogWrapper {
    padding: 15px 0 25px;
  }
}

@media (max-width: 680.98px) {
  .blogWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .blogWrapper {
    max-width: 390px;
    margin: 0 auto;
  }

}