.blogDetailsContent {
    padding: 48px 0 0 0;
}

.blogDetailsContent h2 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 57px;
    line-height: 100%;
    text-transform: uppercase;
    color: #00418E;
    margin-bottom: 10px;
}

/* 
.blogDetailsContent>h2+p {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #00418E;
    margin-top: 8px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
} */

.blogDetailsContent h3 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-style: Regular;
    font-size: 37px;
    line-height: 44px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #545454;
    margin-bottom: 24px;
}

.blogDetailsContent,
.blogDetailsContent ul li,
.blogDetailsContent ol li {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #545454;
}

.blogDetailsContent ul li+li,
.blogDetailsContent ol li+li {
    margin-top: 8px;
}

.blogDetailsContent ul,
.blogDetailsContent ol {
    padding-left: 30px;
    margin-bottom: 20px;
}

.blogDetailsContent ol {
    list-style-type: decimal;
}

.blogDetailsContent ul li {
    list-style-type: disc;
}

.blogDetailsContent p {
    margin-bottom: 20px;
}

.blogDetailsContent h4 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #545454;
    margin-bottom: 20px;
}

img.alignRight {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 50%;
}

img.alignLeft {
    float: left;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}

img.alignCenter {
    float: none;
    margin: 20px auto;
    width: 100%;
}

@media (max-width: 1800.98px) {

    .blogDetailsContent h3 {
        font-size: 32px;
        line-height: 39px;
    }

    .blogDetailsContent h2 {
        font-size: 42px;
        line-height: 52px;
    }

}


@media (max-width: 1560.98px) {

    .blogDetailsContent h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .blogDetailsContent h2 {
        font-size: 38px;
        line-height: 48px;
    }

}


@media (max-width: 1440.98px) {

    .blogDetailsContent,
    .blogDetailsContent ul li,
    .blogDetailsContent ol li {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 1199.98px) {

    .blogDetailsContent h2 {
        font-size: 32px;
        line-height: 42px;
    }
}


@media (max-width: 1024.98px) {

    .blogDetailsContent h3 {
        font-size: 24px;
        line-height: 34px;
    }

}

@media (max-width: 991.98px) {

    .blogDetailsContent h4 {
        font-size: 22px;
    }
}

@media (max-width: 767.98px) {

    img.alignRight,
    img.alignLeft,
    img.alignCenter {
        float: none;
        margin: 15px 0;
        width: 100%;
    }
}

@media (max-width: 640.98px) {
    .blogDetailsContent h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .blogDetailsContent h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .blogDetailsContent h4 {
        font-size: 18px;
        line-height: 26px;
    }

    .blogDetailsContent>h2+p {
        margin-bottom: 30px;
    }

}